---
---

@import "{{ site.theme }}";

// Hide “This site is open source. Improve this page.”
.footer {
  display: none;
}

#banner {
    display: none !important;
}

body {
    background: #ffffff !important;
    background-color: #ffffff !important;
}

section {
    border: 0px !important;
}

.exemple_atelier {
    border-left:solid #1799a5 4px;
    padding-left:10px;
}

.effet_atelier {
    border-left:solid #1785a5 4px;
    padding-left:10px;
}