---
---

@import "{{ site.theme }}";

// Hide “This site is open source. Improve this page.”
footer {
  display: none;
}

#banner {
    display: none !important;
}

body {
    background: #ffffff !important;
    background-color: #ffffff !important;
}

section {
    border: 0px !important;
    margin-top: 50px !important;
}

.exemple {
    border-left:solid rgb(17, 122, 70) 4px;
    padding-left:10px;
}

.exemple_blue,.exercice {
    border-left:solid #1785a5 4px;
    padding-left:10px;
}

.blue {
    color: #1785a5;
}

header{
  color: rgb(232, 230, 227) !important;
  background-color: rgb(17, 122, 70) !important;
  background-image: linear-gradient(120deg, rgb(17, 70, 122), rgb(17, 122, 70)) !important;
  position: relative !important;
}

.language-plaintext {
  padding: 2px 4px !important;

color: #567482 !important;
background-color: #f3f6fa !important;
border-radius: 0.3rem !important;
}

h4 {
  color: #1785a5 !important;
}